<link rel="shortcut icon" type="image/{{icon_type}}" href="{{icon_href}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<style>
    body{margin: 0; padding: 0; overflow: hidden;}
</style>
<script>
    //微信内置浏览器在request_animation_frame中运行以提高更新频率
    let oldRequestAnimationFrame = window.requestAnimationFrame;
    window.requestAnimationFrame = function(a, b){
        console.log("req");
        oldRequestAnimationFrame(a, b);
    };
</script>